/* Global things */
body {
	color: var(--color);
	overflow: hidden;
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #0099ff;
	background: var(--background);
	background-image: url(https://img.freepik.com/premium-vector/abstract-stippled-seamless-pattern-dotted-grunge-background_87538-1409.jpg?w=360)
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Lucida Console", "Courier New", monospace
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #e77777;
	cursor: not-allowed;
}

/* Can meens can be clicked/bought/etc */
.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: 0 0 20px var(--points)
}

.bought {
	background-color: #64d19e;
	cursor: default;
}

.bought:hover {
	transform: scale(1.4, 1.4);
	z-index: 2;
	box-shadow: 0 0 20px var(--points)
}

#points {
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
}

#newsTicker {
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;

	border: 3px solid white;
	border-radius: 5px;

  padding: 5px;

  overflow: hidden;
  white-space: nowrap;
}

#newsContent {
	transition-duration: 0s !important;
}
